# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.sln

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# Generated lighting
*_BuiltData.uasset